.logo{
    width: 150px;
}
.text-white{
    font-size: 20px;
    font-weight: bold;
}
.menu{
    z-index: 10;
}
.banner{
    background-image: url("../imagenes/fondo2.png");
    background-size: cover;
    height: 100vh;
}
.fondo{
    height: 100vh;
    margin-left: 150px;
}
.sesion-2{
    background-image: url(../imagenes/fondopapel.png);
    background-size: cover;
}
h1{
    font-family: 'Pacifico', cursive;
}
.h3{
    font-family: 'Staatliches';
}
.fondo h1{
    font-size: 100px;
    font-weight: 200;
}
.fondo h3{
    font-size: 100px;
}
.sesion-3{
    background-image: url(../imagenes/fondo4.png);
    background-size: cover;
    height: 400px;
    width: 100%;
    background-attachment: fixed;
}
.descripcion h1,
.descripcion h3{
    font-size: 50px;
    font-weight: 300;
}
.descripcion h3{
    font-size: 30px;
}

